<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\src\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add
      key="CBT"
      value="https://www.myget.org/F/cbt/api/v3/index.json" 
    />
    
    <add
      key="OSS_All"
      value="https://api.nuget.org/v3/index.json" 
    />
  </packageSources>
</configuration>