<?xml version="1.0" encoding="utf-8"?>
<!--
    *******************************************************************************************************************
    This file contains the CBT modules that you want to use.  Modules are standard NuGet packages that apply to the
    whole project tree rather than on a per-project basis.  Modules provide extensions to your build in a centralized
    way and act as a replacement of having to check-in all of the build logic.
    
    Modules include build extensions such as:
    
      1. Analyzing source code and/or build output
      2. Assembly versioning
      3. Policy enforcement
      4. Strong-name signing of build output
      5. 
    
    To find more modules, use "NuGet.exe list CBT.*" or browse a list at http://commonbuildtoolset.github.io
    *******************************************************************************************************************
  -->

<packages>
  <!--
    *******************************************************************************************************************
    CBT.Microsoft.Common.targets module allows other modules to hook into the BeforeMicrosoftCommonTargets and
    AfterMicrosoftCommonTargets so they can inject themselves at certain places in the project import graph.
    *******************************************************************************************************************
  -->
  <package
    id="CBT.Microsoft.Common.targets"
    version="1.0.0"
  />


  <!--
    *******************************************************************************************************************
    CBT.NuGet module provides NuGet package restore from the command-line prior to build.  This allows users to not
    have to restore before building a project tree.  This is mostly useful for hosted builds which run from a command-
    line environment rather than Visual Studio.
    *******************************************************************************************************************
  -->
  <package
    id="CBT.NuGet"
    version="1.0.45"
  />

  <!--
    *******************************************************************************************************************
    CBT.Traversal module provides the build logic to have a dirs.proj which defines the projects you want built in a
    hosted build environment.  Use this module if you want more control over your official build output and are willing
    to move away from Visual Studio solution files.
    *******************************************************************************************************************
  -->
  <package
    id="CBT.Traversal"
    version="1.0.31"
  />


  <!--
    *******************************************************************************************************************
    CBT.AssemblyInfo module provides assembly information and versioning.  The default versioning is date-based but can
    be customized to suite your needs.
  
    When using the module, you'll have to remove the duplicate assembly attributes which are set by Visual Studio
    templates in each project's "Properties\AssemblyInfo.cs"
    *******************************************************************************************************************
  -->
  <!--
  <package
    id="CBT.AssemblyInfo"
    version="1.0.3-beta"
  />
  -->


  <!--
    *******************************************************************************************************************
    CBT.DotNetFx provides the .NET Framework reference assemblies so that users do not have to have them installed to
    build your projects.  When using this module, be sure to include ALL of the versions of the target frameworks that
    your projects use.  For example, if your projects target .NET 4.5 and .NET 4.6, you'll need to include both of the
    corresponding modules.
    *******************************************************************************************************************
  -->
  <!--
  <package
    id="CBT.DotNetFx"
    version="4.6.0-beta02"
  />
  -->

</packages>
